.section {
    width: 100%;
}
.box {
    height: 200px;
    color: white;
    font-size: 2em;
}
body  {
  margin: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica', sans-serif;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
  background-color: black;
  
}

.post {
  padding-top: 250px;
  padding-bottom: 250px;
  padding: 5em 0;
  background: 50% 50% / cover no-repeat;
  background-attachment: fixed;
  min-width: 100%;
  min-height: 100%;
}

#post1 {
  background-image: url("/images/clouds.png");
}

#post2 {
  background-image: url("/images/cows.png");
}

#post3 {
  background-image: url("/images/curtain.png");
}

#post4 {
  background-image: url("/images/diner.png");
}

#post5 {
  background-image: url("/images/flagwalk.png");
}

#post6 {
  background-image: url("/images/frameinframe.png");
}

#post7 {
  background-image: url("/images/garage.png");
}

#post8 {
  background-image: url("/images/gasstation.png");
}

#post9 {
  background-image: url("/images/graves.png");
}

#post10 {
  background-image: url("/images/hemlock.png");
}

#post11 {
  background-image: url("/images/interview.png");
}

#post12 {
  background-image: url("/images/jesCU.png");
}

#post13 {
  background-image: url("/images/lake.png");
}

#post14 {
  background-image: url("/images/lumberstacks.png");
}

#post15 {
  background-image: url("/images/mill.png");
}

#post16 {
  background-image: url("/images/muscle.png");
}

#post17 {
  background-image: url("/images/piano.png");
}

#post18 {
  background-image: url("/images/prayer.png");
}

#post19 {
  background-image: url("/images/snowyroad.png");
}

#post20 {
  background-image: url("/images/trainsnow.png");
}

#post21 {
  background-image: url("/images/water.png");
}

#post22 {
  background-image: url("/images/woods2.png");
}
.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 10px;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

header {
    background-color: black;
    font-size: 48px;
    height: 125px;
    padding-left: 25px;
}

h1 {
    font-size: 80px;
    color: black;
}

p {
    font-size: 24px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    text-justify: inter-word;
    opacity: 0.7;
    
    

}

footer {
    padding-top: 40px;
    height: 225px;
    background-color: black;
   
    
}

.logo {
    height: 100px;
    width: auto;
    padding: 10px;
}

#footer {
    font-size: 14px;
}

a  {
    color: lightgray;
    text-decoration: none;
}

a.btn,.btn {
  margin-right: 1em; /* remove this while use*/
  margin-bottom: 1em; /* remove this while use*/
	display: inline-block;
	outline: none;
	*zoom: 1;
	text-align: center;
	text-decoration: none;
	font-family: inherit;
	font-weight: 300;
	letter-spacing: 1px;
	vertical-align: middle;
	border: 1px solid;
	transition: all 0.2s ease;
	box-sizing: border-box;
	text-shadow: 0 1px 0 rgba(0,0,0,0.01);
}
/* Radius */
.btn-radius {
  border-radius: 3px;
}
.btn-large {
	font-size: 24PX;
	padding: 0.25em 0.5em;
}

.btn-gray {
	color: #808080;
	border-color: #808080;
}
.btn-gray:hover {
  background: #808080;
  color: #fff;
  border-color: #808080;	
}

md-button {
  overflow-y: scroll;
}


