<md-dialog aria-label="video popup">
    <form ng-cloak>
       

        <md-dialog-content>
            <div class="md-dialog-content">
            <iframe src="https://player.vimeo.com/video/4448877" width="640" height="432" frameborder="0" webkitallowfullscreen mozallowfullscreen
                allowfullscreen></iframe>
            <p>
                <a href="https://vimeo.com/4448877">The Wreck Family</a> from
                <a href="https://vimeo.com/privatepress">Private Press</a> on
                <a href="https://vimeo.com">Vimeo</a>.</p>
</md-dialog>